<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Prime Factors Result</h2>

    <p>Number input = <%= @x %></p>
    <p>Prime Factors = <%= inspect(@y)  %></p>
  </div>
</div>
